<div id="space">
</div>
<section class=" col-md-10">

<a routerLink="/article" class="stretched-link text-decoration-none"><span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Article on Arduino</h3></span></a>
  <hr>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is Arduino ?</h2><hr>
          <p>This article is on basic of Arduino</p>
          <p class="card-text">Arduino is an open-source platform used for building electronics projects. Arduino consists of both a physical programmable circuit board (often referred to as a microcontroller) and a piece of software, or IDE (Integrated Development Environment) that runs on your computer, used to write and upload computer code to the physical board.</p>
          <a href="#" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why Arduino ?</h2><hr>
        <p>This article is on basic of Arduino ?</p>
        <p class="card-text">The Arduino Uno R3 from Arduino is one of the most popular microcontrollers out there, and it boasts a large online community that has created thousands of projects. Whether you want to monitor temperature and humidity outside your house or have the Arduino control a robot to auto-balance itself, the Arduino has a versatile set that can be applied in many DIY applications. But how does Arduino work in industrial solutions?</p>
        <a href="https://www.arrow.com/en/research-and-events/articles/arduino-uno-r3-industrial-solutions" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why Arduino ?</h2><hr>
        <p>This article is on basic of Arduino ?</p>
        <p class="card-text">The Arduino platform has become quite popular with people just starting out with electronics, and for good reason. Unlike most previous programmable circuit boards, the Arduino does not need a separate piece of hardware (called a programmer) in order to load new code onto the board -- you can simply use a USB cable. Additionally, the Arduino IDE uses a simplified version of C++, making it easier to learn to program. Finally, Arduino provides a standard form factor that breaks out the functions of the micro-controller into a more accessible package.</p>
        <a href="#" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why Arduino ?</h2><hr>
        <p>This article is on basic of Arduino ?</p>
        <p class="card-text">When you need input from the real world to your robot or data collection system, there are several options to choose from. This article is about ultrasonic sensor and implementation using Arduino.</p>
        <a href="https://www.arrow.com/research-and-events/articles/ultrasonic-sensors-how-they-work-and-how-to-use-them-with-arduino" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
</div> <!--  row end -->
</div>  <!--  container end -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div id="space">
</div>
<span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Articles on PIC Microcontroller</h3></span>
<hr>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is PIC Microcontroller?</h2><hr>
          <p>This article is on basic of microcontroller</p>
          <p class="card-text">PIC is a family of microcontrollers made by Microchip Technology, derived from the PIC1650 originally developed by General Instrument's Microelectronics Division. The name PIC initially referred to Peripheral Interface Controller, and is currently expanded as Programmable Intelligent Computer.</p>
          <a href="https://www.elprocus.com/introduction-to-pic-microcontrollers-and-its-architecture/" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Features Of PIC Microcontroller?</h2><hr>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">Like all other microcontroller, PIC16F877A also provide built-in useful features as mentioned in this list:</p>
        <a href="https://www.mikroe.com/ebooks/pic-microcontrollers-programming-in-c/pic16f887-basic-features" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">PIC in software programming</h2><hr>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">PICAXE is another platform that uses a Microchip Technology PIC MCU and is programmed in BASIC. The package is essentially a version of the PIC MCU family in a DIP IC that can be plugged into a breadboarding socket. It has been preprogrammed with firmware that allows the MCU to be programmed by way of IDE software on a PC. Connection is by way of a USB port on the PC. You can then add other interfaces such as sensors or controlled devices as your project dictates. The BASIC language is easy to learn and use. The IDE is a free download, and there is plenty of support, help, and instruction on the companion website. This is a low cost way to build projects with a microcontroller.</p>
        <a href="https://www.sciencedirect.com/science/article/pii/B9780128116418000138" class="btn w3-red">Read More.</a>
      </div>
    </div>
  </article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">PIC Microcontroller vs Arduino</h2><hr>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
        <a href="https://www.educba.com/pic-vs-arduino/" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>


</div> <!--  row end -->
</div>  <!--  container end -->


</section>
