<div id="space">
</div>
<section class=" col-md-10">

<a routerLink="/article" class="stretched-link text-decoration-none"><span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Article on Arduino</h3></span></a>
  <hr>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is Arduino ?</h2><hr>
          <h5>All about Arduino, Sep 2, 2017</h5>
          <p>This article is on basic of Arduino</p>
          <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
          <a href="#" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why Arduino ?</h2><hr>
        <h5>All about Arduino, Sep 2, 2017</h5>
        <p>This article is on basic of Arduino ?</p>
        <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
        <a href="#" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">What is Arduino ?</h2><hr>
        <h5>All about Arduino, Sep 2, 2017</h5>
        <p>This article is on basic of Arduino</p>
        <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
        <a href="#" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
<article class="para w3-pale-red">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Why Arduino ?</h2><hr>
      <h5>All about Arduino, Sep 2, 2017</h5>
      <p>This article is on basic of Arduino ?</p>
      <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
      <a href="#" class="btn w3-red">Read More.</a>
    </div>
  </div>
</article>
</div>


</div> <!--  row end -->
</div>  <!--  container end -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div id="space">
</div>
<span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Articles on PIC Microcontroller</h3></span>
<hr>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is PIC Microcontroller?</h2><hr>
          <h5>All about PIC microcontroller, Sep 2, 2017</h5>
          <p>This article is on basic of microcontroller</p>
          <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
          <a href="#" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">What is PIC Microcontroller?</h2><hr>
        <h5>All about PIC microcontroller, Sep 2, 2017</h5>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
        <a href="#" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why PIC Microcontroller?</h2><hr>
        <h5>All about PIC microcontroller, Sep 2, 2017</h5>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
        <a href="#" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why PIC Microcontroller?</h2><hr>
        <h5>All about PIC microcontroller, Sep 2, 2017</h5>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">As its name suggests, Embedded means something that is attached to another thing. An embedded system can be thought of as a computer hardware system having software embedded in it.</p>
        <a href="#" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>


</div> <!--  row end -->
</div>  <!--  container end -->


</section>
